name: Gemstone CI/CD

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'CONTRIBUTING.md'
      - 'CODE_OF_CONDUCT.md'
      - 'LICENSE'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'ISSUE_TEMPLATE.md'
      - '.github/**'
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  integration:
    name: Integration Tests
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:20.10.7
        options: --privileged
        ports:
          - 8080:8080
          - 5050:5050

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest tox tox-gh-actions pytest
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: |
          pytest tests/unit

      - name: Run Integration Tests
        run: |
          pytest tests/integration


    # Step 2: Build & Push Docker Images
  build_and_push:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


      - name: Build and push Docker image
        run: |
          docker build -f Dockerfile.airflow -t ${{ secrets.DOCKER_USERNAME }}/airflow:${{ github.sha }} .
          docker tag ${{ secrets.DOCKER_USERNAME }}/airflow:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/airflow:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/airflow:latest

      - name: Build and push Flask Docker image
        run: |
          docker build -f Dockerfile.flask -t ${{ secrets.DOCKER_USERNAME }}/flask:${{ github.sha }} .
          docker tag ${{ secrets.DOCKER_USERNAME }}/flask:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/flask:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/flask:latest


  
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: SSH into server and pull latest images (You can use self-hosted runners or SSH action)
        run: |
          ssh user@server 'docker pull ${{ secrets.DOCKER_USERNAME }}/airflow:latest'
          ssh user@server 'docker pull ${{ secrets.DOCKER_USERNAME }}/flask:latest'
          ssh user@server 'docker-compose up -d --build'